<% content_for(:header_title) do %>
	<%= t('view.noun.base_favorite') %>
<% end %>
<% content_for(:header_title) do %>
	削除
<% end %>

<div class="notice">
	<%= @favorite.favorite.show_name %>を<%= t('view.noun.base_favorite') %>から削除しますか？
</div>

<% form_tag :action => 'delete', :id => @favorite.id do %>
<%= submit_button_tag '削除' %>
<%= cancel_button_tag %>
<% end %>
