<div style="text-align:left;">
株式会社○○○（以下、弊社といいます。）は、業務遂行上、個人情報を様々な形で取扱っております。
お預かりする個人情報は大変重要な情報であり、その個人情報の保護は社会的責務と考えております。
弊社はこの様な考え方を、各々の役員及び従業員等に周知させることにより、弊社が運営する「○○○」（以下、本サイトといいます。）にて収集した個人情報を保護するための個人情報保護方針を確立いたします。
さらに、これを維持し、継続的に改善してまいります。 

  <ul>
    <li>
    	個人情報保護方針<br/>
		<%= link_basic_to "1", :action=> '01' %>
		<%= link_basic_to "2", :action=> '02' %>
		<%= link_basic_to "3", :action=> '03' %>
		<%= link_basic_to "4", :action=> '04' %>
		<%= link_basic_to "5", :action=> '05' %>
		<%= link_basic_to "6", :action=> '06' %>
	</li>
	<li><%= link_basic_to "本方針への同意について", :action=> '07' %></li>
	<li><%= link_basic_to "個人情報の収集について", :action=> '08' %></li>
	<li><%= link_basic_to "個人情報の利用目的", :action=> '09' %></li>
	<li><%= link_basic_to "個人情報の収集方法", :action=> '10' %></li>
	<li><%= link_basic_to "個人情報の安全性", :action=> '11' %></li>
	<li><%= link_basic_to "第三者への開示について", :action=> '12' %></li>
	<li><%= link_basic_to "本方針の変更について", :action=> '13' %></li>
	<li><%= link_basic_to "個人情報の廃棄について", :action=> '14' %></li>
	<li><%= link_basic_to "未成年者のご登録について", :action=> '15' %></li>
	<li>
		個人情報開示等の求めについて<br/>
		<%= link_basic_to "1", :action=> '16' %>
		<%= link_basic_to "2", :action=> '17' %>
		<%= link_basic_to "3", :action=> '18' %>
		<%= link_basic_to "4", :action=> '19' %>
		<%= link_basic_to "5", :action=> '20' %>
		<%= link_basic_to "6", :action=> '21' %>
	</li>
	<li><%= link_basic_to "個人情報の取扱いに関するお問合わせ先", :action=> '22' %></li>
  </ul>
</div>

<div style="text-align:right;">
平成xx年xx月xx日<br/>
<br/>
株式会社○○○<br/>
代表取締役社長　○○○<br/>
<br/>
  【xxxx年　xx月　xx日　　x版】
</div>
<%= image_tag_for_default 'Spec_08.gif' %><br />
