<% content_for(:header_title) do %>
<%= t('view.noun.base_friend') %>申請
<% end %>

<div class="presignup">
	<div id="presignup_mailaddress_box" class="W5R4B9df box_outer clearfix">
		<div class="wrap1">
		<div class="wrap2">
		<div class="wrap3">
		<div class="box_inner clearfix">
			<h6 class="W5R4B9df caps"><span><%= t('view.noun.base_friend') %>申請</span></h6>
			<div class="notice prepend-top">
				<%= @user.show_name %>への<%= t('view.noun.base_friend') %>申請のメッセージを入力してください。
			</div>
		
			<% form_tag :action => 'create', :id => @user.id do %>

				<label for="title" accesskey="n"><%= t('activerecord.attributes.forms/base_friend_apply_form.apply_message') %>：</label><br/>
			    <p><%= text_area_tag 'apply_message', params[:apply_message], :size => '50x3' %></p>
				<div class="notice">
					<%= error_message_on_with_label @base_friend_apply_form, 'apply_message' %>
					<%=t 'activerecord.errors.stand_messages.too_long', :count => AppResources[:base][:body_max_length] %>
				</div>

				<%= submit_button_tag("申請") %>

			<% end %>
			
		</div>
		</div><!--/wrap3-->
		</div><!--/wrap2-->
		</div><!--/wrap1-->
	</div>
</div>
