<%- @pan1= t('view.noun.base_user') -%><%- @pan2="#{t('view.noun.base_user')}検索" -%>

<h3><%= t('view.noun.base_user') %>検索</h3>

<% form_tag :action => 'user_search' do %>

<%= error_messages_for 'base_user_search_form' %>

<table class="lineColorL" style="width:609px;">
  <tr>
  	<th width="20%"><label name="user_login"><%= t('activerecord.attributes.base_user.login') %></label></th>
	<td><%= text_field 'user', 'login' %></td>
  </tr>
  <tr>
  	<th><label name="user_email"><%= t('activerecord.attributes.base_user.email') %></label></th>
	<td><%= text_field 'user', 'email' %></td>
  </tr>
  <tr>
  	<th><label name="user_joined_at"><%= t('activerecord.attributes.base_user.joined_at') %></label></th>
	<td>
		<%= date_select 'joined_start_at', 'date', :use_month_numbers => true, :include_blank => true %>〜
		<%= date_select 'joined_end_at', 'date', :use_month_numbers => true, :include_blank => true %>
		<%= adjusted_datetime 'joined_start_at', 'date' %>
		<%= adjusted_datetime 'joined_end_at', 'date' %>
	</td>
  </tr>
  <tr>
  	<th><label name="user_age"><%= t('activerecord.attributes.base_profile.age') %></label></th>
	<td><%= text_field 'age', 'start', :size => 4 %>〜
	<%= text_field 'age', 'end', :size => 4  %></td>
  </tr>
　　<tr>
  	<th><%= t('activerecord.attributes.base_profile.sex') %></th>
	<td>
		<% hash2sorted_array(BaseProfile::SEX).each do | sex | %>
			<%= check_box_tag "sex[#{sex[0]}]" %>
	  		<%= sex[1] %>
		<% end %>
	</td>
  </tr>
　　<tr>
  	<th><label name="base_user_profile_area"><%= t('activerecord.attributes.base_profile.area') %></label></th>
	<td>
		<% hash2sorted_array(BaseProfile::PREFECTURES).each do |area| %>
			<%= check_box_tag "area[#{area[0]}]" %>
	  		<%= area[1] %>
		<% end %>
	</td>
  </tr>
　　<tr>
  	<th><label name="base_user_profile_civil_status"><%= t('activerecord.attributes.base_profile.civil_status') %></label></th>
	<td>
		<% hash2sorted_array(BaseProfile::CIVIL).each do | civil_status | %>
			<%= check_box_tag "civil_status[#{civil_status[0]}]" %>
	  		<%= civil_status[1] %>
		<% end %>
	</td>
  </tr>
  <% if Unshiu::Plugins.pnt? && pnt_active? %>
  <tr>
  	<th><label name="profile_point"><%= t('view.noun.pnt_point') %></label></th>
	<td><% if master_select? %>
		<%= select_tag "pnt_master[id]", options_from_collection_for_select(@pnt_masters, "id", "title") %>
	<% else %>
		<%= hidden_field 'pnt_master', 'id', :value => @pnt_masters.first.id %>
	<% end %>
	<%= text_field 'point', 'start_point', :size => 10 %>～<%= text_field 'point', 'end_point', :size => 10  %></td>
  </tr>
  <% end %>
  <tr>
  	<th><label name="user_base_carrier_id">携帯キャリア</label></th>
	<td><% for carrier in @carriers %>
	  	<%= check_box_tag "base_carrier_id[#{carrier.id}]" %>
	  	<%= carrier.name %>
	<% end %></td>
  </tr>
</table>

<div class="bot_btn">
	<%= mng_submit_tag '検索' %>
	<%= mng_submit_tag "CSVで書き出す", :name => 'csv' %>
</div>

<% end %>
