<%= error_messages_for 'base_notice' %>

<!--[form:base_notice]-->
<table border="0" cellpadding="3" cellspacing="1" class="lineColorLW" style="width:609px;">
<tbody>
  <tr>
    <th style="width:140px;"><label for="base_notice_start_datetime"><%= t('activerecord.attributes.base_notice.start_datetime') %></label></th>
    <td>
		<%= datetime_select 'base_notice', 'start_datetime', :use_month_numbers => true %>
		<%= adjusted_datetime 'base_notice', 'start_datetime' %>
	</td>
  </tr>
  <tr>
    <th style="width:140px;"><%= t('activerecord.attributes.base_notice.end_datetime') %></th>
    <td>
		<%= datetime_select 'base_notice', 'end_datetime', :use_month_numbers => true %>
		<%= adjusted_datetime 'base_notice', 'end_datetime' %>
	</td>
  </tr>
  <tr>
    <th style="width:140px;"><%= t('activerecord.attributes.base_notice.title') %></th>
    <td><%= text_field 'base_notice', 'title'  %></td>
  </tr>
  <tr>
    <th style="width:140px;"><%= t('activerecord.attributes.base_notice.body') %></th>
    <td><%= text_area 'base_notice', 'body'  %></td>
  </tr>
</tbody>
</table>
<!--[eoform:base_notice]-->
