<%- @pan1="SNS設定" -%><%- @pan2="#{t('view.noun.base_notice')}" -%><%- @pan3="#{t('view.noun.base_notice')}編集確認" -%>
<% content_for(:header_title) do %>
<%= t('view.noun.base_notice') %>編集確認
<% end %>

<h3><%= t('view.noun.base_notice') %>編集確認</h3>
<% form_tag :action => 'update', :id => params[:id] do %>
  <%= render :partial => 'confirm' %>
  
  <div class="bot_btn">
  	<%= mng_submit_tag "編集" %>
  	<%= mng_cancel_tag %>
  </div>
<% end %>
