<% content_for(:header_title) do %>
<%= t('view.noun.base_profile') %>編集
<% end %>
<% form_tag :action => 'update_confirm' do %>
	<div style="<%= style_value('form_style') %>">
		<%= error_messages_for 'profile', :object_name => 'base_profile' %>
		<%= render :partial => 'form' %>
		<%= image_tag_for_default 'Spec_02.gif' %><br />
	</div>
	<%= image_tag_for_default 'Spec_02.gif' %><br />
	<div style="text-align:center">
		<%= submit_tag '確認' %>
	</div>
<% end %>