<% content_for(:sub_title) do %>
<%= t('view.noun.cmm_community') %>について
<% end %>

<div style="text-align:left;">
<%= t('view.noun.cmm_community') %>を作成できます。<%= t('view.noun.cmm_community') %>は招待制、自由参加など参加タイプを選ぶことができます。
<%= t('view.noun.cmm_community') %>内では<%= t('view.noun.tpc_topic') %>を作成することができます。
</div>