<% content_for(:sub_title) do %>
<%= t('view.noun.base_favorite') %>について
<% end %>

<div style="text-align:left;">
<%= t('view.noun.base_favorite') %>になると<%= t('view.noun.base_favorite') %>の<%= t('view.noun.dia_entry') %>や<%= t('view.noun.abm_album') %>を<%= t('view.noun.my_portal') %>で確認することができます。
</div>