<div style="text-align:left;">
    ○○○（以下「本サイト）という）は株式会社○○○（以下「弊社」という）が開発し運営する、携帯電話ウェブコンテンツサービスです。弊社は、本サイト会員規約（以下「本規約」という）を、以下の通り定めます。<br />
<br />
  <ul>
    <li><%= link_terms_to "第1条(定義)", :action=> '01' %></li>
    <li><%= link_terms_to "第2条(会員登録)", :action=> '02' %></li>
    <li><%= link_terms_to "第3条(規約の同意)", :action=> '03' %></li>
    <li><%= link_terms_to "第4条（変更の届出）", :action=> '04' %></li>
    <li><%= link_terms_to "第5条（資格喪失）", :action=> '05' %></li>
    <li><%= link_terms_to "第6条（会員資格の取消）", :action=> '06' %></li>
	<li><%= link_terms_to "第7条（退会）", :action=> '07' %></li>
	<li><%= link_terms_to "第8条（設備等の準備）", :action=> '08' %></li>
	<li><%= link_terms_to "第9条（著作権等）", :action=> '09' %></li>
	<li><%= link_terms_to "第10条（禁止事項）", :action=> '10' %></li>
	<li><%= link_terms_to "第11条（本サービスの提供）", :action=> '11' %></li>
	<li><%= link_terms_to "第12条(会員への通知方法)", :action=> '12' %></li>
	<li><%= link_terms_to "第13条（情報の利用）", :action=> '13' %></li>
	<li><%= link_terms_to "第14条（ポイントの付与）", :action=> '14' %></li>
	<li><%= link_terms_to "第15条（ポイントの交換）", :action=> '15' %></li>
	<li><%= link_terms_to "第16条（ポイントの取消）", :action=> '16' %></li>
	<li><%= link_terms_to "第17条(免責事項)", :action=> '17' %></li>
	<li><%= link_terms_to "第18条（準拠法）", :action=> '18' %></li>
	<li><%= link_terms_to "第19条（管轄裁判所）", :action=> '19' %></li>
  </ul>
  
</div>
<br />
