<% content_for(:header_title) do %>
<%= t('activerecord.attributes.base_user.password') %>再設定
<% end %>

<%= t('activerecord.attributes.base_user.password') %>の再設定を行います。新しい<%= t('activerecord.attributes.base_user.password') %>を入力し、「再設定」ボタンを押してください。<br />
<br />
<% form_tag :action => 'password_set', :id => params[:id] do %>

<div style="<%= style_value('form_style') %>">
	<%= error_messages_for 'user', :object_name => 'base_user' %>
	<span style="color:#f75009;"></span>新しい<%= t('activerecord.attributes.base_user.password') %><br/>
	<%= password_field_tag 'password', nil, numeric_text_field_options %>
	<%= image_tag_for_default 'Spec_02.gif' %><br />
</div>

<%= image_tag_for_default 'Spec_02.gif' %><br />

<div style="text-align:center">
	<%= submit_tag '再設定' %>
</div>

<% end %>
