<% content_for(:header_title) do %>
	<%= t('activerecord.attributes.base_user.password') %>再設定
<% end %>

<div class="presignup">
	<div id="presignup_mailaddress_box" class="W5R4B9df box_outer clearfix">
		<div class="wrap1">
		<div class="wrap2">
		<div class="wrap3">
		<div class="box_inner clearfix">
			<h6 class="W5R4B9df caps"><span><%= t('activerecord.attributes.base_user.password') %>再設定</span></h6>
			<div class="notice prepend-top">
				ご登録いただいている<%= t('activerecord.attributes.base_user.new_email') %>宛に
				新しい<%= t('activerecord.attributes.base_user.password') %>設定用のURLを記載したメールを送信いたします。
				ご登録頂いている<%= t('activerecord.attributes.base_user.new_email') %>を入力して「送信」ボタンを押してください。
			</div>
		
			<% form_tag :action => 'password_remind' do %>
			
				<%= error_messages_for 'user', :object_name => 'base_user' %>
				
				<label for="mail_address" accesskey="n"><%= t('activerecord.attributes.base_user.new_email') %>：</label>
				<%= text_field_tag 'mail_address', @mail_address, {:class => "span-16"} %>
				<%= error_message_on_with_label @maf, 'mail_address' %>
				
				<br />
				<div class="clearfix prepend-0">
				
					<%= submit_button_tag '再設定' %>
				
				</div>
			<% end %>
		</div>
		</div><!--/wrap3-->
		</div><!--/wrap2-->
		</div><!--/wrap1-->
	</div>
</div>

<% content_for(:sidemenu) do %>
	<div  class="W5R4B9df box_outer">
		<div class="wrap1">
		<div class="wrap2">
		<div class="wrap3">
			<div class="box_inner clearfix">
			<h6><span>menu</span></h6>
			<%= link_to '設定変更', :controller => 'base_user_config', :action => 'index' %><br/>
			<%= link_to "#{t('view.noun.base_profile')}変更", :controller => 'base_profile', :action => 'edit' %><br/>
			<%= link_to 'パスワード変更', :controller => 'base_signup', :action => 'password_set_ask' %><br/>

			</div><!--/box_inner-->
		</div><!--/wrap3 -->
		</div><!--/wrap2 -->
		</div><!--/wrap1 -->
	</div><!--/friend_box-->
<% end %>