<% content_for(:header_title) do %>
<%= t('activerecord.attributes.base_user.password') %>再設定
<% end %>

<p>
<%= t('activerecord.attributes.base_user.new_email') %>一致する<%= t('view.noun.base_user') %>が見つかりました。<br/>
<%= t('activerecord.attributes.base_user.new_email') %>をもう一度ご確認頂き「送信」ボタンを押してください。
</p>
<% form_tag :action => 'password_remind' do %>

<div style="<%= style_value('form_style') %>">
	<span style="color:#f75009;"></span><%= t('activerecord.attributes.base_user.new_email') %><br/>
	<%= @mail_address %>
	<%= hidden_field_tag 'mail_address', @mail_address %><br />
	<%= image_tag_for_default 'Spec_02.gif' %><br />
</div>
<%= image_tag_for_default 'Spec_02.gif' %><br />

<div style="text-align:center">
	<%= submit_tag '送信' %>
	<%= cancel_tag '戻る'%>
</div>
<% end %>
