<% content_for(:header_title) do %>
	<%= t('activerecord.attributes.base_user.password') %>再設定
<% end %>

<div class="presignup">
	<div id="presignup_mailaddress_box" class="W5R4B9df box_outer clearfix">
		<div class="wrap1">
		<div class="wrap2">
		<div class="wrap3">
		<div class="box_inner clearfix">
			<h6 class="W5R4B9df caps"><span><%= t('activerecord.attributes.base_user.password') %>再設定</span></h6>
			<div class="notice prepend-top">
				<%= t('activerecord.attributes.base_user.password') %>の再設定を行います。
				新しい<%= t('activerecord.attributes.base_user.password') %>を入力し、「再設定」ボタンを押してください。
			</div>
		
			<% form_tag :action => 'password_set', :id => params[:id] do %>
			
				<%= error_messages_for 'user', :object_name => 'base_user' %>
				
				<label for="password" accesskey="n"><%= t('activerecord.attributes.base_user.password') %>：</label>
				<%= password_field_tag 'password', nil, {:class => "span-16"} %>
				<br />
				<div class="clearfix prepend-0">
				
					<%= submit_button_tag '再設定' %>
				
				</div>
			<% end %>
		</div>
		</div><!--/wrap3-->
		</div><!--/wrap2-->
		</div><!--/wrap1-->
	</div>
</div>

<% content_for(:sidemenu) do %>
	<div  class="W5R4B9df box_outer">
		<div class="wrap1">
		<div class="wrap2">
		<div class="wrap3">
			<div class="box_inner clearfix">
			<h6><span>menu</span></h6>
			<%= link_to '設定変更', :controller => 'base_user_config', :action => 'index' %><br/>
			<%= link_to "#{t('view.noun.base_profile')}変更", :controller => 'base_profile', :action => 'edit' %><br/>
			<%= link_to '登録メールアドレス変更', :controller => 'base_user_config', :action => 'mail_reset_input' %><br/>

			</div><!--/box_inner-->
		</div><!--/wrap3 -->
		</div><!--/wrap2 -->
		</div><!--/wrap1 -->
	</div><!--/friend_box-->
<% end %>
