<% content_for(:header_title) do %>
<%= t('activerecord.attributes.base_user.password') %>再設定
<% end %>

ご登録頂いている<%= t('activerecord.attributes.base_user.new_email') %>を入力して「確認」ボタンを押してください。

<% form_tag :action => 'password_remind_confirm' do %>

<div style="<%= style_value('form_style') %>">
	<%= error_messages_for 'maf', :object_name => 'base_password_remind_form' %>
	<span style="color:#f75009;"></span><%= t('activerecord.attributes.base_user.new_email') %><br/>
	<%= text_field_tag 'mail_address', @mail_address %>
	<%= image_tag_for_default 'Spec_02.gif' %><br />
</div>
<%= image_tag_for_default 'Spec_02.gif' %><br />
<div style="text-align:center">
	<%= submit_tag '確認' %>
</div>

<% end %>
<%= image_tag_for_default 'Spec_08.gif' %><br />