<% content_for(:header_title) do %>
<%= t('view.noun.base_friend') %>削除
<% end %>
<%= @friend.friend.show_name %>を<%= t('view.noun.base_friend') %>から外しますか？<br />
<br />
<div style="text-align:center">
<% form_tag :action => 'delete', :id => @friend.id do %>
<%= submit_tag '外す' %>
<%= cancel_tag %>
<% end %>
</div>